body {
    margin: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background: #f4f4f4;
}

header {
    background: #339e63;
    color: #f8f8f8;
    padding: 20px;
    text-align: center;
}

nav {
    position: relative;
    background: #334155;
    text-align: center;
    padding: 10px;
}

nav a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

.hero {
    background: url('https://https://www.cnibusinessforum.com//1200x400') no-repeat center/cover;
    color: #0d69f3;
    text-align: center;
    padding: 80px 20px;
}

.hero button {
    padding: 12px 25px;
    border: none;
    background: #f97316;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.hero button:hover {
    background: #ea580c;
}

section {
    padding: 40px 20px;
    max-width: 1100px;
    margin: auto;
}

.light {
    background: #fff;
}
.container{
    display: flex;
    justify-content: space-between;
    padding:0px;
}
.right{
    width: 22%;
    text-align: right;
    padding-right: 30px;
    background-color: rgb(233, 158, 19);
}
.right img{
    max-width: 200%;
    text-size-adjust: bold;
    padding-right: 5px;

}
.box{
  width: 300px;
  margin: left 0px;;
  text-align: left;
}
.details{
    padding-left: 50px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.card  {
    background: #3376e2;
    color: #ffffff;
    padding: 25px;
    text-align: center;
    border-radius: 5px;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    background: #e5e7eb;
    margin: 10px 0;
    padding: 10px;
    border-left: 5px solid #1e293b;
}

footer {
    background: #1e293b;
    color: #fff;
    text-align: center;
    padding: 15px;
}

        .container1 {
            width: 80%;
            margin: 40px auto;
        }

        .form-box1,.form-box2 {
            background: #ffffff;
            padding: 25px;
            margin-bottom: 40px;
            border-radius: 8px;
            box-shadow: 0 4px 15px rgba(0,0,0,0.2);
        }

        h2 {
            text-align: center;
            color: #1e3c72;
        }

        label {
            font-weight: bold;
        }

        input, select, textarea {
            width: 100%;
            padding: 8px;
            margin: 8px 0 15px 0;
            border-radius: 5px;
            border: 1px solid #ccc;
        }

        button {
            width: 100%;
            padding: 10px;
            background: #1e3c72;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
        }

        button:hover {
            background: #16305a;
        }